* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #202124;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .barraDeNavegacao {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #5f6368;
    font-weight: bold;
    font-size: 14px;
  }
  
  .botaoIcone img,
  .fotoPerfil img {
    width: 30px;
    height: 30px;
  }
  
  .container {
    margin-top: 100px;
    text-align: center;
  }
  
  .logo {
    width: 250px;
    margin-bottom: 20px;
  }
  
  .search-form {
    width: 100%;
    max-width: 600px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    padding: 10px 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    position: relative;
  }
  
  .search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
  }
  
  .search-bar button {
    border: none;
    background: transparent
  }

.botaoIcone {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.apps-icon {
  display: flex;
  flex-direction: column;
  gap: 3px; 
}

.linha {
  display: flex;
  gap: 3px; 
}

.quadrado {
  width: 6px; 
  height: 6px;
  background-color: #5f6368; 
  border-radius: 2px; 
}
